:root {
  --clr-primary: rgb(23, 68, 192);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-purple: rgb(165, 73, 202);
  --clr-red: rgb(252, 133, 133);
  --clr-green: rgb(71, 226, 71);
  --clr-orange: rgb(255, 151, 55);
  --clr-gold: rgb(209, 186, 58);
  --clr-blanchedalmond: rgb(216, 181, 127);

  --clr-neutral-900: rgb(85, 85, 85);

  --fs-900: clamp(3rem, 2.5rem + 6vw, 8rem);
  --fs-800: clamp(2rem, 1.5rem + 4.5vw, 5rem);
  --fs-700: clamp(1.2rem, 1rem + 1vw, 3rem);
  --fs-600: clamp(1rem, 0.5rem + 0.5vw, 2.5rem);

  --ff-heading: "Playfair Display", serif;
  --ff-body: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

*:not(dialog) {
  margin: 0;
  padding: 0;
}

button {
  font: inherit;
  background: none;
  border: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

p {
  font-size: clamp(1.2rem, 1rem + 1vw, 3rem);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-family: var(--ff-heading);
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-body);
  display: grid;
}

header {
  display: grid;
  grid-template-areas: "stack";
  position: relative;
  place-self: center;
  padding: 1rem 1.5rem;
  overflow: hidden;
}

header::before {
  background-color: var(--clr-primary);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: rotate3d(0, 0, 1, 45deg) translate(-50%, -50%) scale(1, 3.2);
}

header > * {
  grid-area: stack;
}

header h1 {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  font-size: var(--fs-900);
  color: var(--clr-white);
  text-align: center;
  line-height: 1.1;
  text-shadow: 0 3px 5px var(--clr-black);
}

header img {
  box-shadow: 5px 5px 20px -10px var(--clr-black);
}

@media (min-width: 600px) {
  body {
    overflow: hidden;
  }
  header {
    width: 100%;
    overflow: revert;
    place-self: start;
    display: block;
  }
  header h1 {
    top: 0;
    left: auto;
    right: 0;
    translate: 70% 0.5em;
    font-size: var(--fs-800);
  }
  header img {
    max-width: 50vw;
    object-fit: cover;
    aspect-ratio: 1;
  }
}

main,
footer {
  padding: 1rem;
}

main {
  display: grid;
  gap: 2rem;
}

main h2 {
  font-size: var(--fs-800);
  text-align: center;
  font-weight: 500;
  line-height: 2.5;
}

.about-me p {
  color: var(--clr-neutral-900);
}

section[aria-label="Socials"] {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

button svg,
a svg {
  transition: scale 400ms ease-in;
}

button:hover svg,
a:hover svg {
  opacity: 0.6;
  scale: 1.15;
}

section[aria-label="Projects"] {
  display: grid;
  gap: 4rem;
}

.project {
  display: grid;
  grid-template-areas:
    "head head"
    "name links"
    "desc desc";
  box-shadow: 5px 5px 20px -10px var(--clr-black);
  gap: 1rem;

  --scale-unit: 1.015;
  transition: scale 400ms ease;
}

.project:hover {
  scale: var(--scale-unit);
}

.project > *:not(.head) {
  padding: 0 1rem;
}

.project .head {
  grid-area: head;
  min-height: 270px;
  display: grid;
  place-items: center;
  padding: 2rem;

  font-size: var(--fs-800);
  font-family: var(--ff-heading);

  background-color: var(--clr-purple);
  color: var(--clr-white);
}

.project:nth-of-type(2n + 2) .head {
  background-color: var(--clr-orange);
}

.project:nth-of-type(3n + 3) .head {
  background-color: var(--clr-green);
}

.project:nth-of-type(4n + 4) .head {
  background-color: var(--clr-red);
}

.project:nth-of-type(5n + 5) .head {
  background-color: var(--clr-gold);
}

.project:nth-of-type(6n + 6) .head {
  background-color: var(--clr-blanchedalmond);
}

.project .project-name {
  text-align: center;
  font-weight: 500;
  font-size: calc(var(--fs-700) * 1.1);
}

.project .project-links {
  justify-self: end;
  display: flex;
  gap: 0.5em;
}

.project .project-links a {
  display: grid;
  place-items: center;
}

.project .project-description {
  grid-area: desc;
  font-size: var(--fs-600);
  color: var(--clr-neutral-900);
  line-height: 1.4;
  min-height: 7rem;
}

footer {
  background-color: var(--clr-primary);
  margin-top: 7rem;
  color: var(--clr-white);
}

footer > * + * {
  margin-bottom: 1.5rem;
}

footer > p {
  font-size: calc(var(--fs-700) * 1.1);
}

footer h2 {
  font-size: var(--fs-800);
  line-height: 1.7;
  text-align: center;
}

footer address {
  margin-bottom: 0;
  font-size: var(--fs-600);
}

footer .contact-info {
  margin-top: 1.5rem;
  font-style: normal;
}
