:root {
  --clr-blue: rgb(0, 48, 179);
  --clr-lite-blue: rgb(61, 192, 243);
  --clr-white: rgb(255, 255, 255);
  --clr-black: rgb(0, 0, 0);
  --clr-green: rgb(11, 236, 11);
  --clr-orange: rgb(255, 131, 15);

  --clr-neutral-900: rgb(85, 85, 85);
  --clr-neutral-500: rgb(185, 185, 185);
  --clr-neutral-100: rgb(247, 247, 247);

  --ff-heading: "Playfair Display", serif;
  --ff-body: Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  text-overflow: break-word;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: var(--ff-body);
  display: grid;
  gap: 4rem;
  overflow-x: hidden;
  background-color: var(--clr-white);
}

body::before {
  content: "";
  width: 100vw;
  height: min(80vh, 500px);
  background-color: var(--clr-neutral-100);
  position: absolute;
  top: 0;
  left: 0;

  --skew-angle: -45deg;
  transform: skewY(var(--skew-angle)) translateY(-55%);
  z-index: -1;
  box-shadow: 0 5px 15px -13px var(--clr-black);
}

button {
  font: inherit;
  background: none;
  border: 0;
}

img,
picture,
svg {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--ff-heading);
}

header,
footer {
  font-size: 1.2rem;
}

header {
  display: grid;
  grid-template-areas: "stack";
  line-height: 1.6;
  font-size: 1.2rem;
  place-content: center;
  justify-items: center;
  align-items: center;
  margin: 1rem;
}

header img,
header h1 {
  grid-area: stack;
}

header img {
  max-width: 350px;
  box-shadow: 5px 5px 20px -10px var(--clr-black);
}

header h1 {
  font-size: 3rem;
  margin: 0 0.5rem;
  place-self: end center;
}

.about-me h2,
main h2,
footer h2 {
  font-size: 2.5rem;
  text-align: center;
}

.about-me p {
  max-width: 65ch;
}

.about-me .socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

svg:has(title[id*="github"]):hover {
  fill: var(--clr-green);
}

svg:has(title[id*="linkedin"]):hover {
  fill: var(--clr-blue);
}

svg:has(title[id*="twitter"]):hover {
  fill: var(--clr-lite-blue);
}

svg:has(title[id*="open-in-new"]):hover {
  fill: var(--clr-orange);
}

main {
  padding: 0 1rem;
}

main h2 {
  text-align: center;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 250px), 1fr));
  justify-content: center;
  align-content: center;
  gap: 3rem;
}

.project {
  display: grid;
  grid-template-areas:
    "image image"
    "name links"
    "desc desc";
  gap: 1rem;
  border: 1px solid var(--clr-black);

  box-shadow: 5px 5px 20px -10px var(--clr-black);
  --scale-unit: 1.015;
  transition: scale 400ms ease;
}

.project:hover {
  scale: var(--scale-unit);
}

.project > * {
  margin: 0;
}

.project .head {
  background: var(--clr-neutral-500);
  color: var(--clr-black);

  grid-area: image;
  min-height: 200px;
  display: grid;
  place-items: center;
  font-size: 2.5rem;
  padding: 0 1rem;
}

.project .project-name {
  grid-area: name;
  margin-left: 1.5rem;
}

.project .project-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 1rem;
}

.project .project-description {
  grid-area: desc;
  margin: 0 1rem;
  min-height: 7em;

  color: var(--clr-neutral-900);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--clr-neutral-100);
}

footer .text {
  padding: 1rem;
}

footer .contact-info {
  display: grid;
  font-style: normal;
}

footer .contact-info svg {
  display: none;
}

footer .socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

footer img {
  max-width: 350px;
}

button svg,
a svg {
  transition: scale 400ms ease-in;
}

button:hover svg,
a:hover svg {
  scale: 1.15;
}

@media (width >= 600px) {
  body {
    gap: 0;
  }

  body::before {
    --skew-angle: -15deg;
  }

  header {
    display: flow-root;
    margin: 5rem;
    padding: 1rem;
    position: relative;
    border: 1px solid var(--clr-black);
    background-color: var(--clr-white);
    box-shadow: 5px 5px 20px -10px var(--clr-black);
  }

  header img {
    float: left;
    margin: -4rem 1rem 1rem -4rem;
    max-width: 250px;
  }

  header h1 {
    position: absolute;
    top: 1rem;
    left: calc(50% - 5ch);
    margin: -5rem 0 4rem 0;
    font-size: 3rem;
  }

  header .about-me {
    background-color: var(--clr-white);
  }

  .about-me .socials {
    float: right;
  }

  main {
    padding: 0 4rem;
  }

  main h2,
  footer h2 {
    text-align: revert;
  }

  footer {
    flex-direction: row;
    gap: 1rem;
    padding: 1rem 1rem 2rem 2rem;
    justify-content: center;
    margin-top: 10rem;
  }

  footer img {
    max-width: 400px;
  }

  footer .text {
    padding: 0;
  }

  footer .socials {
    justify-content: flex-start;
  }

  footer .contact-info {
    width: fit-content;
    display: grid;
    grid-template-columns: max-content 1fr;
    place-items: center start;
    gap: 0 0.5rem;
  }

  footer .contact-info svg {
    display: inline-block;
  }
}

@media (width >= 1200px) {
  body::before {
    --skew-angle: -5deg;
  }

  header {
    display: grid;
    grid-template-areas: "stack text";
    border: 0;
    background-color: transparent;
    box-shadow: none;
  }

  header img,
  header h1 {
    grid-area: stack;
    margin: 0;
  }

  header img {
    max-width: 350px;
    position: relative;
  }

  header h1 {
    position: static;
    z-index: 0;
    font-size: 4rem;
  }

  header .about-me {
    grid-area: text;
    border: 1px solid var(--clr-black);
    border-left: none;
    box-shadow: 5px 5px 20px -10px var(--clr-black);
    padding: 1rem;
    font-size: 1.4rem;
  }

  .about-me h2,
  main h2,
  footer h2 {
    text-align: revert;
    font-size: 3rem;
  }

  footer {
    margin-top: 5rem;
  }

  footer img {
    max-width: 500px;
  }
}
